body{
    font-family: arial;
    text-align: justify;
    text-justify: inter-word;
    background-color: #303030;
    height: 100%;
}     
.content {
    margin-top: 40px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.30), 3px 3px 10px rgba(0,0,0,0.22);
    color: white;
    background-color: #424242;
    padding: 10px;
    margin: auto;
    text-align: center;
}
.shadowed{
    box-shadow: 0px 2px 4px rgba(0,0,0,0.30), 3px 3px 10px rgba(0,0,0,0.22);
}
button{
    text-align: center;
}
.pritext{
    opacity: 0.9;
}
.sectext{
    opacity: 0.7;
}
.hint{
    opacity: 0.5;
}

.bottom{
    position: absolute;
    bottom: 0;
    left: 0;
}
.launchBtn{
    margin: auto;
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 5px;
    height: 50px;
    font-size: 200%;
    text-align: center;
}
#username{
    background-color: #999;
    border-color: black;
}
a{
    text-decoration: none;
    color: #999;
}
a:hover{
    text-decoration: none;
    color: white;
}
.popover{background-color: #303030;}
.popover.bottom .arrow::after {border-bottom-color: #303030;}
.popover-content {
    background-color: #555; 
    box-shadow: 0px 5px 5px rgba(0,0,0,0.3), 5px 5px 10px rgba(0,0,0,0.3);
}
.popover-title {
    background-color: #555; 
    border-bottom-color: #303030;
    text-align: center;
    text-transform: uppercase;
}



/*Game*/
#returnBtn{
    position: absolute;
    margin-top: 0px;
    right: 0px;
    color: #f00;
}
.gameWindow{
    margin: auto;
    width: 90vw;
    height: 50vh;
    position: relative;
}
.shopWindow{
    margin: auto;
    width: 90vw;
    height: 65vh;
    background-color: #505050;
    color: white;
}
.statWindow{
    margin: auto;
    width: 90vw;
    background-color: #505050;
    color: white;
    opacity: 0.8;
    padding: 10px;
}
.landscape{
    width: 100%;
    height: 100%;
    z-index: -1;
}
#healthbar{
    position: absolute;
    left: 25vw;
    top: 5px;
    width: 40vw; 
}
.sprite{
    position: absolute;
    left: 30vw;
    top: 20vh;
    height: 30vh;
    width: 30vw;
}
.clicked{
    animation: hit 0.15s;
}
@keyframes hit{
    0%{transform: translate(0, 0) rotate(0deg);}
    50%{transform: translate(10vh, -10vw) rotate(45deg);}
    100%{transform:  translate(0, 0) rotate(0deg);}
    
}
#healthbar{
    position: inherit;
}
.progress{
    text-align: center;
}
.progress span{
    position: absolute;
    right: 0;
    left: 0;
    color: black;
}
.center{
    text-align: center;
}
@media screen and (orientation: portrait){
    .gameWindow{display: block;}
    .shopWindow{display: none;}
    .statWindow{height: 25vh;}
}
@media screen and (orientation: landscape){
    .gameWindow{display: none;}
    .shopWindow{display: block;}
    .statWindow{height: 42vh;}
}
@media screen and (-webkit-min-device-pixel-ratio: 3) {
    p {
        font-size: 1.1em; 
        line-height:1;
    }
}

td, th{
    padding-left: 10px;
}
table{
    margin: auto;
}
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #444;
}
th{
    background-color: #333;
}
button{
    background-color: #555;
}
.buyBtn{
    border: none;
    background: none;
}
.glyphicon {
    font-size: 25px;
}